HTTP/1.1 200 OK
Date: Tue, 06 Oct 2015 18:20:11 GMT
Server: Apache/2.2.22 (Ubuntu) mod_fcgid/2.3.6 mod_ssl/2.2.22 OpenSSL/1.0.1
Last-Modified: Wed, 01 Sep 2010 22:12:32 GMT
ETag: "1a19ae-245-48f39fe779400"
Accept-Ranges: bytes
Content-Length: 581
Content-Type: text/css

/* $Id: ctools.css,v 1.4.2.1 2010/09/01 22:12:31 merlinofchaos Exp $ */
.ctools-locked {
  color: red;
  border: 1px solid red;
  padding: 1em;
}

.ctools-owns-lock {
  background: #FFFFDD none repeat scroll 0 0;
  border: 1px solid #F0C020;
  padding: 1em;
}

a.ctools-ajaxing,
input.ctools-ajaxing,
button.ctools-ajaxing,
select.ctools-ajaxing {
  padding-right: 18px !important;
  background: url(../images/status-active.gif) right center no-repeat;
}

div.ctools-ajaxing {
  float: left;
  width: 18px;
  background: url(../images/status-active.gif) center center no-repeat;
}
/* $Id: ctools.css,v 1.4.2.1 2010/09/01 22:12:31 merlinofchaos Exp $ */
.ctools-locked {
  color: red;
  border: 1px solid red;
  padding: 1em;
}

.ctools-owns-lock {
  background: #FFFFDD none repeat scroll 0 0;
  border: 1px solid #F0C020;
  padding: 1em;
}

a.ctools-ajaxing,
input.ctools-ajaxing,
button.ctools-ajaxing,
select.ctools-ajaxing {
  padding-right: 18px !important;
  background: url(../images/status-active.gif) right center no-repeat;
}

div.ctools-ajaxing {
  float: left;
  width: 18px;
  background: url(../images/status-active.gif) center center no-repeat;
}
